Name: Amartya Sinha
Roll No: AC-1207
Data Analysis & Visualization Assignment

1. Find whether all elements in list are numbers or not

In [2]:
n = eval(input("Enter the total number of elements: "))
lst = []
for i in range(n):
    x = input("Enter element [{}]:".format(i))
    lst.append(x)

print(lst)

SyntaxError: invalid syntax (<string>, line 0)

In [ ]:
def check_num_in_lst():
    for i in lst:
        if not i.lstrip("-").isdigit():
            return False
    return True

is_numerical_list = check_num_in_lst()
print("All elements in list are numbers" if is_numerical_list else "All elements in list are not numbers")

All elements in list are numbers

2. If numeric list then count number of odd values in it

In [ ]:
counter = 0
if is_numerical_list:
    for i in lst:
        if (int(i)%2 != 0):
            counter += 1
    print("There are {} odd values in the numerical list".format(counter))

There are 3 odd values in the numerical list

3. if string list then display the largest string in the list

In [ ]:
if not is_numerical_list:
    largest_string = ""
    for i in lst:
        if len(i) > len(largest_string):
            largest_string = i
    print("The largest string in the list is {}".format(largest_string))

4. if all elements are strings then count numeric string and string with alphabets only separately

In [ ]:
if not is_numerical_list:
    count_numeric = 0
    count_alpha = 0
    for i in lst:
        if i.isdigit():
            count_numeric += 1
        elif i.isalpha():
            count_alpha += 1
    print("{0} numeric string(s) and {1} alpha only string(s)".format(count_numeric, count_alpha))

5. Create a dictionary to keep track of count of distinct elements in the list e.g. {'element1': 2,element2':3...}

In [ ]:
my_dic = {}
for i in lst:
    my_dic[i] = lst.count(i)
print(my_dic)

NameError: name 'lst' is not defined

In [1]:
L = ['delhi', 'haryan', 'up', 'punjab']

print(L)
dictstates = {}

for val in L:
    try:
        dictstates[len(val)].append(val)
    except KeyError:
        dictstates[len(val)] = [val]

dictstates

['delhi', 'haryan', 'up', 'punjab']

{5: ['delhi'], 6: ['haryan', 'punjab'], 2: ['up']}

In [2]:
L = ['delhi', 'haryan', 'up', 'punjab']

print(L)
dictstates = {}

for val in L:
    if len(val) not in dictstates.keys():
        dictstates[len(val)] = [val]
    else:
        dictstates[len(val)].append(val)

dictstates

['delhi', 'haryan', 'up', 'punjab']

{5: ['delhi'], 6: ['haryan', 'punjab'], 2: ['up']}

In [ ]:
fn = lambda a, b: ~(a**b)
print(fn(2, 3))

-9

In [ ]:
print('{0:5} and {1:7}'.format(9&5, 9|5))

    1 and      13

In [ ]:
print('{0:5} and {1:<07}'.format(9&5, 9|5))

    1 and 1300000

In [ ]:
def fn1(L):
    for x in L:
        print(x**3+2**x)

In [ ]:
L = [2, 3, 57, 64]
fn1(L)

12
35
144115188076041065
18446744073709813760

In [3]:
import itertools
first_letter = lambda x: x[-1]
names = ['Alan', 'Adan', 'Albert', 'West', 'Will', 'Steven']
names.sort()
print(names)

['Adan', 'Alan', 'Albert', 'Steven', 'West', 'Will']

In [ ]:
list(itertools.groupby(names, first_letter))

[('n', <itertools._grouper at 0x7efdcb9bf0d0>),
 ('t', <itertools._grouper at 0x7efdcb9bd9f0>),
 ('n', <itertools._grouper at 0x7efdcb9bfd00>),
 ('t', <itertools._grouper at 0x7efdcb9bf4c0>),
 ('l', <itertools._grouper at 0x7efdcb9bf130>)]

multiply two matrices using numpy library

sort using last letter (lambda fn usage)